[Desktop Entry]
Comment=KOrganizer
Exec=/usr/lib/qt/bin/kopi
Icon=/usr/lib/qt/lib/pics/korganizer.png
Name=KOrganizer
Type=Application
Categories=Application;Office;WordProcessor;
StartupNotify=False
